---
import Layout from "../layouts/Layout.astro";
import TypedText from "../components/TypedText.svelte";
import InteractiveNavigation from "../components/InteractiveNavigation.svelte";
import AsciiArtWrapper from "../components/AsciiArtWrapper.svelte";

// const allProjects = await getCollection("portfolio");

// const projectsWithCardImages = await Promise.all(
//   allProjects.map(async (p) => ({
//     ...p.data,
//     slug: p.slug,
//     imgProps: p.data.image
//       ? await getImage({
//           src: "/" + p.data.image,
//           alt: p.data.title,
//           height: 200,
//           width: 576,
//           fit: "cover",
//           position: "entropy",
//         })
//       : null,
//   }))
// );

// const topTwo = projectsWithCardImages
//   .sort((a, b) => b.lastUpdated.getTime() - a.lastUpdated.getTime())
//   .slice(0, 2);
---

<script>
  document.addEventListener("keydown", (e) => {
  if (e.key === "ArrowDown") {
    const tabItems = document.querySelectorAll("[data-tab]") as NodeListOf<HTMLElement>;
    const selected = document.activeElement;
    if (!(selected instanceof HTMLElement)) {
      tabItems[0].focus();
    }
    else if (selected.dataset.tab === undefined) {
      tabItems[0].focus();
    }
    else if (selected.dataset.tab === (tabItems.length - 1).toString()) {
      tabItems[0].focus();
    }
    else {
      tabItems[parseInt(selected.dataset.tab) + 1].focus();
    }

  } else if (e.key === "ArrowUp") {
    const tabItems = document.querySelectorAll("[data-tab]") as NodeListOf<HTMLElement>;
    const selected = document.activeElement;
    if (!(selected instanceof HTMLElement)) {
      tabItems[0].focus();
    }
    else if (selected.dataset.tab === undefined) {
      tabItems[tabItems.length - 1].focus();
    }
    else if (selected.dataset.tab === "0") {
      tabItems[tabItems.length - 1].focus();
    }
    else {
      tabItems[parseInt(selected.dataset.tab) - 1].focus();
    }
  } else if (e.key === " ") {
    const selected = document.activeElement;
    if (selected instanceof HTMLElement) {
      selected.click();
    }
  }
});
</script>

<Layout description="Nick Bukovec - Developer and Student and Learner and a whole bunch of other stuff" type='website' hideHeader={true} hideFooter={true}>
  <main class="sm:px-4 sm:py-4 py-1 max-h-[calc(100vh-1rem)]">
    <div class="flex sm:flex-row justify-between flex-col-reverse items-left">
    <div class="px-2 mt-2">
      { /* @ts-expect-error */ }
      <TypedText client:idle text="Nick Bukovec" style="font-mono dark:text-white text-2xl font-bold" delay={120} cursor={true}/>
      { /* @ts-expect-error */ }
      <TypedText client:idle text="Full Stack Developer" style="font-mono dark:text-white text-xl" delay={130} cursor={true}/>
      { /* @ts-expect-error */ }
      <TypedText client:idle text="Machine Learning Engineer" style="font-mono dark:text-white text-xl" delay={140} cursor={true}/>
      { /* @ts-expect-error */ }
      <InteractiveNavigation client:idle delay={160}/>
    </div>  
    <AsciiArtWrapper client:idle />
    </div>
  </main>
</Layout>
