---
import DarkToggle from "../components/DarkToggle";
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';
// import '@fontsource-variable/kode-mono'
import '@fontsource-variable/geist-mono';
// import '@fontsource-variable/azeret-mono';

export interface Props {
  title?: string;
  description: string;
  type: 'website' | 'article'
  hideHeader?: boolean;
  hideFooter?: boolean;
}

const { title, description, type, hideHeader, hideFooter } = Astro.props;

---

<script is:inline>
  document.addEventListener('astro:after-swap', () => {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
        }
      });

      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
</script>

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="og:title" content={`${title ? `${title} - ` : ""}Nick Bukovec`}/>
    <meta name="og:description" content={description} />
    <meta name="og:url" content={Astro.url} />
    <meta name="og:image" content={new URL('/og.png', Astro.url)} />
    <meta name="og:content" content={type} />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.bukovec.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nick Bukovec">
    <meta property="og:description" content="Nick Bukovec - Developer and Student and Learner and a whole bunch of other stuff">
    <meta property="og:image" content="https://www.bukovec.dev/og.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bukovec.dev">
    <meta property="twitter:url" content="https://www.bukovec.dev/">
    <meta name="twitter:title" content="Nick Bukovec">
    <meta name="twitter:description" content="Nick Bukovec - Developer and Student and Learner and a whole bunch of other stuff">
    <meta name="twitter:image" content="https://www.bukovec.dev/og.png">
    <title>{title ? `${title} - Nick Bukovec` : "Nick Bukovec"}</title>
    <script defer type="text/partytown" src="/_vercel/insights/script.js"></script>
    <ClientRouter />
  </head>
  <body
    class="w-full bg-fixed bg-yellow-100 dark:bg-gray-900 h-[100vh] min-h-[100vh] bg-no-repeat dark:from-slate-800 dark:to-dark-indigo flex flex-col"
  >
  {!hideHeader &&
    <div class= "mx-auto mt-4 w-[65ch] max-w-[65ch] px-4 sm:px-0">
      <a href="/" rel="prefetch" class="text-black dark:text-white text-3xl font-mono font-extrabold">Nick Bukovec</a>
    <div
      class="flex flex-row justify-between max-w-xl items-center pb-4 self-start"
    >
      <nav class="flex flex-row items-baseline gap-4 justify-center">
        <a
          href="/about"
          rel="prefetch"
          class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
          >About</a
        >
        <a
          href="/portfolio"
          rel="prefetch"
          class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
          >Portfolio</a
        >
        <a
        href="/freelancing"
        rel="prefetch"
        class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
        >Freelancing</a
      >
      </nav>
      {/* <DarkToggle client:idle /> */}
    </div>
    </div>
  }
    <div class="flex-grow">
      <slot />
    </div>
    {<Footer />}
  </body>
</html>
