---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import ProjectStatus from "../../components/ProjectStatus";
import { AiOutlineGithub } from "react-icons/ai/index.js";
import { MdOutlineWeb } from "react-icons/md/index.js";

export async function getStaticPaths() {
  const entries = await getCollection("portfolio");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const {
  entry: {
    data: { title, image, status, lastUpdated, github, deployment, description },
    render,
  },
} = Astro.props;

const { Content } = await render();
---

<Layout {title} description={description} type='article'>
  <article class="max-w-xl md:mx-auto mx-4 prose dark:prose-invert">
    <div class="flex flex-row items-center gap-2 flex-wrap">
      <h1 class="text-4xl font-extrabold dark:text-white mb-0">{title}</h1>
      <ProjectStatus {status} />
    </div>
    <p>Last updated {lastUpdated.toDateString()}</p>
    <div class="flex flex-row gap-2">
      {
        deployment && (
          <a href={deployment} target="_blank" class="group">
            <MdOutlineWeb size={32} className="group-hover:fill-slate-600 dark:group-hover:fill-slate-300" />
          </a>
        )
      }
      {
        github && (
          <a href={github} target="_blank" class="group">
            <AiOutlineGithub size={32} className="group-hover:fill-slate-600 dark:group-hover:fill-slate-300"/>
          </a>
        )
      }
    </div>
    {
      image && (
        <Image
          src={'/'+image}
          alt={title}
          height={2240}
          width={1260}
          fit="inside"
        />
      )
    }
    <Content />
  </article>
</Layout>
